---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import { useI18n } from '../lib/i18n.js';

const { t } = useI18n('es');
---

<Layout
  title={t.siteTitle}
  description={t.siteDescription}
  lang="es"
>
  <main>
    <Hero lang="es" />
    <Projects lang="es" />
    <Footer lang="es" />
  </main>
</Layout>
